.no-padd {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.feature {
    max-height: 560px;
    min-height: 300px;
    height: 560px;
    position: relative;
}

.feature .inner-image {
    background-image: url(https://lh3.googleusercontent.com/UUjWfpmO1Nv7bYKigWl0-PnhS8COYRgH1m7o_j09w1vawfiKsi8kKe5PFMqaJZjkqAymAHBUyn7c_6uk5w=s1600);
    background-size: cover;
    background-position: center;
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}

.feature .middle-container {
    position: relative;
    height: 100%;
}

.feature .middle-container .middle-align {
    margin:0 auto;
    width:90%;
    height: 100%;
    text-align: center;
    display: table;
}

@media (min-width: 768px) {
  .feature .middle-container .middle-align {
    width:80%;
  }
}

@media (min-width: 992px) {
  .feature .middle-container .middle-align {
    width:60%;
  }
}

@media (min-width: 1200px) {
  .feature .middle-container .middle-align {
    width:40%;
  }
}


.feature .middle-container .middle-align .feature-content {
    color: #fff;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.feature .middle-container .middle-align .feature-content h1 {
    font-weight: 100;
    font-size:70px;
    letter-spacing: -2px;
    margin: 0 0 5px 0;
    padding: 0;
}

.feature .middle-container .middle-align .feature-content h2 {
    font-weight: 100;
    font-size:25px;
    text-transform: uppercase;
    margin:0 0 30px 0;
    padding: 0;
}

.feature .middle-container .middle-align .feature-content p {
    font-weight: 300;
    font-size:18px;
    padding: 0;
    color: #fff;
    display: block;
}


.feature .overlay {
    background: #000;
    opacity: 0.5;
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}


.stripe-container {
    background: #666;
}

.stripe-container .call-to-action {
    text-align: center;
}

.stripe-container .call-to-action span {
    padding: 20px;
    font-size: 16px;
    display: inline-block;
    color: #fff;
    font-weight: 100;    
}

.stripe-container .call-to-action a {
    color: #666;
    font-size: 16px;
    padding: 10px 20px;
    background: #A1C22D;
    border-radius: 3px;
    display: inline-block;
}

.page-container .center-align {
    margin:30px auto;
    padding: 0 30px;
}

@media (min-width: 768px) {
    .page-container .center-align {
        width:388px;
        padding: 0;
    }
}


@media (min-width: 992px) {
    .page-container .center-align {
        width:612px;
        padding: 0;
    }
}


@media (min-width: 1200px) {
    .page-container .center-align {
        width:820px;
        padding: 0;
    }
}

@media (min-width: 1480px) {
    .page-container .center-align {
        width:1100px;
        padding: 0;
    }
}

.page-container h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 300;
    display: inline-block;
    margin: 0 5px 20px 0;
}