.feature {
    max-height: 460px;
    min-height: 300px;
    height: 460px;
    position: relative;
}

.feature .inner-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}

.feature .container {
    position: relative;
    height: 100%;
}

.feature .container .middle-align {
    height: 100%;
    text-align: center;
    display: table;
    padding: 20px;
}


.feature .container .middle-align .feature-content {
    color: #fff;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.feature .container .middle-align .feature-content h1 {
    font-weight: 100;
    font-size:70px;
    letter-spacing: -2px;
    margin: 0 0 5px 0;
    padding: 0;
}

.feature .container .middle-align .feature-content h2 {
    font-weight: 100;
    font-size:25px;
    text-transform: uppercase;
    margin:0 0 30px 0;
    padding: 0;
}

.feature .container .middle-align .feature-content p {
    font-weight: 300;
    font-size:18px;
    padding: 0;
    color: #fff;
    display: block;
}

.actions {
    padding: 30px;
}

.actions .action {
    padding: 80px 30px;
    margin-bottom: 30px;
    min-height: 255px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #aaa;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.actions .action:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.actions .action .action-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}

.actions .action a {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    display: block;
    position: relative;
}

.actions .action span {
    color:#fff;
    font-weight: 100;
    display: block;
    position: relative;
    font-size: 16px;
}