@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #f4f4f4;
  }
}


.sidebar .menu-wrapper {
    padding: 50px 10px 20px 10px;
}

.sidebar .menu-wrapper .brand-info {
    text-align: center;
}

.sidebar .menu-wrapper .brand-info h1 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin:0 0 5px 0;
    padding:0;
}

.sidebar .menu-wrapper .brand-info h2 {
    font-size: 13px;
    font-weight: 300;
    color: #333;
    text-transform: uppercase;
    margin:0;
    padding:0;
}

.sidebar .menu-wrapper .brand-info .divider {
    vertical-align: middle;
    margin: 30px 0;
    position: relative;
}

.sidebar .menu-wrapper .brand-info .divider a {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    display: block;
    padding: 10px 20px;
    background: #333;
    border-radius: 3px;
}

.sidebar .menu-wrapper .links {
    vertical-align: middle;
    display: block;
    margin: 0 20px 20px 20px;
}

.sidebar .menu-wrapper .links ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

.sidebar .menu-wrapper .links ul a {
    padding-top: 30px;
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.sidebar .menu-wrapper .links ul a:hover {
    color:#999;
}