
.sidebar .menu-wrapper {
    
}

.sidebar .menu-wrapper .brand-info {
    
}

.sidebar .menu-wrapper .brand-info h1 {
    display: inline-block;
    margin: 0;
    padding: 0 0 10px 0;
}

.sidebar .menu-wrapper .brand-info h1 a {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.sidebar .menu-wrapper .brand-info h2 {
    font-size: 13px;
    font-weight: 300;
    color: #333;
    text-transform: uppercase;
    margin:0;
    padding:0;
    display: inline-block;
}

.sidebar .menu-wrapper .divider {
    vertical-align: bottom;
}

.sidebar .menu-wrapper .divider a {
    color: #666;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    border-radius: 3px;
    text-align: right;
}

.sidebar .menu-wrapper .links ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

.sidebar .menu-wrapper .links ul:after {
    clear:both;
}

.sidebar .menu-wrapper .links ul a {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    padding: 0 15px 10px 0;
}

.sidebar .menu-wrapper .links ul a:hover {
    color:#999;
}