.small-feature {
    position: relative;
}

.small-feature .inner-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}

.small-feature .title-container {
    position: relative;
    height: 100%;
}

.small-feature .title-container h1 {
    margin: 0;
    padding: 80px 20px;
    line-height: 0;
    font-weight: 25px;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}

.small-feature .title-container h1.emphasis {
    padding-left: 10px;
}